resources:
- name: rds-created-user
  type: sqladmin.v1beta4.user
  properties:
   kind: sql#user
   name: csyemaster
   password: csyepassword
   instance: rds-created-by-deployment-manager
   project: gcloud-csye6225-cloud
